@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");



::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #8d6000;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
    
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
    font-family: "Lilita One", sans-serif;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #ff6600;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/*----------------------------------*/

.container-fluid img{
    width: 2rem;
}

.cus-navbar-brand{
    font-weight: 800;
}

.cus-brand-name{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
}

.categories-logo{

    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 2rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.categories{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.cat-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.item-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd3a0;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}


.cat-items a img{

    width: 4rem;
}

.categories img{
    width: 5rem;
}

.trending{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 2rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.trending-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Fira Sans Condensed", sans-serif;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-left: 1rem;
    padding-bottom: 2rem;
}




/*------------------------------------------------*/
 
 .card {
    width: 295px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
 }
 
 .card__image {
    position: relative;
    height: 140px;
 }
 .card__image > img {
    max-width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(10deg) translate(-15px, -55px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
 }
 
 .card__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 30px;
 }
 .card__info h3 {
    font-size: 18px;
    font-weight: 700;
 }
 .card__info p {
    font-size: 14px;
    font-weight: 600;
   
 }
 .card__info--price {
    text-align: right;
    color: orangered;
    margin-bottom: 2rem;
 }
 .rect2 {
    position: relative;
    bottom: 315px;
    right: 15px;
    width: 325px;
    height: 230px;
    border: 1px solid lavender;
    border-radius: 0 0px 80px 0;
    background-image: url();
    transform: rotate(10deg);
    object-fit: cover;
 }
 .checked {
    color: #ffd700;
 }
 
 ::-webkit-scrollbar {
    width: 8px;
 }

 
 
 ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
 }
 
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }
 
 .cssbuttons-io {
    display: flex;
    position: relative;
    font-family: inherit;
    font-size: 18px;
    width: 2rem;
    height: 2rem;
    letter-spacing: 0.05em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #ff9823, #ffbd08);
    color: ghostwhite;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .cssbuttons-io img{
    width: 1rem;
  }
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #ffcd70;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }

.nav-item span{
    background: #ff9823;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    left: 2.5rem;
    top: 5px;
}

/*cart*/

.r-sidebar{
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    /*right: 0;*/
    right: -400px;
    background-color: rgb(241, 241, 241);
    border-radius:  1.5rem 0 0 1.5rem;
    box-shadow: -4px 0 6px rgba(0,0,0,0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    font-family: "Fira Sans Condensed", sans-serif;

}

.r-sidebar.open {
    right: 0;
}

.r-sidebar-close{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.cart-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem; 
}

.cart-items-wrapper {
    max-height: 800px; 
    overflow-y: auto; 
    margin-bottom: 20px; 
    padding: 10px; 
    border-radius: 5px; 
}


.individual-cart-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(168, 168, 168);
    color: rgb(54, 54, 54);
}

.cart-items-price{
    color: black;
}

.r-sidebar-footer{
    position: absolute;
    bottom: 10px;
    width: 88%;
}

.total-amt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 6px;
    padding: 15px 10px;
}

.cart-total,
.cart-dis{
    font-size: 16px;
    color: black;
    font-weight: 600;
    
}

.input-dis {
    border: none;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: #dfdfdf;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #e7e7e7;
    transition: 0.3s;
}
   
.input-dis:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #f0f0f0;
    transition: 0.3s;
   }

.checkout-btn,
.checkout-submit{
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    fill: #fff;
    color: #fff;
    border: 2px solid transparent;
    background: #d17842;
    transition: all 200ms;
    width: 100%;
}

.checkout-btn:active {
    scale: 0.95;
}
.checkout-btn:hover {
    color: #d17842;
    border: 2px solid #d17842;
    background: transparent;
}

.checkout-submit:active {
    scale: 0.95;
}
.checkout-submit:hover {
    color: #d17842;
    border: 2px solid #d17842;
    background: transparent;
}
  
  
.remove-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #d17842;
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
}

.remove-btn:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 167, 51);
    align-items: center;
    gap: 0;
}

.remove-btn:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}
  


/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

#checkout-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.pm{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.radio-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    position: relative;
    align-items: center;
    color: rgb(63, 63, 63);
}
  
.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}
  
.radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
}
  
.radio::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
  
.radio-button input[type="radio"]:checked + .radio {
    border-color: #ffa114;
    transform: translateZ(0px);
    background-color: #fff;
}
  
.radio-button input[type="radio"]:checked + .radio::before {
    opacity: 1;
}
  


@media (max-width:360px) {
    
    .navbar-brand{
        font-size: 1rem;
    }

    .container-fluid img{
        width: 1.5rem;
    }

   
}

@media (max-height:783px){
    .cart-items-wrapper {
        max-height: 350px;
    }
}